<h1>ToppyQuest</h1>
<p>This is the question board for Toppy</p>
<p>He has no rules</p>



<p> a bad pickture</p>
<img src="http://shechive.files.wordpress.com/2010/05/photo-caption-lol-0.jpg" />
<p><%= link_to "??????????????...", posts_path %></p>
